*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
ul,li,ol {
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}
h1{
    color: #d93025;
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-links:hover{
    text-decoration: underline;
}
.user-photo{
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    border-radius: 100px;
    
}
.logo{
    width: 74px;
    height: 24px;
}