*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
ul,li,ol {
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    margin:10px 10px;
    font-size: .9rem;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-list > li {
    padding-right: 15px;
}
.nav-links{
    color: black;
}
.nav-links:hover{
    text-decoration: underline;
}
.user-photo{
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    border-radius: 100px;
    
}
.icon-apps{
    color: #5f6368;
    padding: 12px;
    border-radius: 100px;
}
.icon-apps:hover,.user-photo:hover{
    background-color: rgba(214, 212, 212, 0.4);
}

.main-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hero-image{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
.image{
    width: 300px;
    height: 100px;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.input-container,.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    border: .3px solid rgb(201, 200, 200);
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 15px;
}
.icon-search{
    color: rgba(138, 137, 137, 0.6);
    cursor: default;
    font-size: 16px
}
.svg-icon {
    cursor: pointer;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.form-input{
    background-color: transparent;
    width: 35vw;
    padding: 5px 15px;
    border-width: 0;
    outline: none;
    font-size: 1.1rem;
}


.button-container{
    padding: 30px;
}
.form-btn:first-child{
    margin-right: 10px;
}
.form-btn{
    color: #3c4043;
    cursor: pointer;
    border-color: transparent;
    background-color: #f0f0f04f;
    font-weight: 100;
    font-size: 1rem;
    padding: 10px 10px;
}
.form-btn:hover{
    border: .3px solid rgb(201, 200, 200);
    border-radius: 5px;
}
.main-text-container{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}
.hero-text:last-child{
    margin-top: 40px;
}
footer{
    margin-top: 158px;
    background-color: #f2f2f2;
    color: #70757a ;
    font-size: 1rem;
}
.footer-text>p{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}
.blue-link{
    color: blue;
}
.green-icon{
    height: 15px;
    margin-right: 5px;
}
.footer-links{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    color:inherit;
}
.footer-links >a, .footer-links-container> a{
    color: inherit;
}
.footer-links >a:hover, .footer-links-container> a:hover{
    text-decoration: underline;
}
.footer-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

